.abc {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgb(220, 5, 184);
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .cart-item-info {
    flex-grow: 1;
  }
  
  .cart-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .continue-shopping-link {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  .continue-shopping-link:hover {
    background-color: #3e8e41;
  }
  
  .cart-item-price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(152, 5, 157);
    margin-bottom: 10px;
  }
  
  .remove-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 24px;
    color: #555;
  }
  .cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  
  
  